{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/products.css">
</head>

<body>
    <div class="maindiv">
        <center>

        
            
            
                <div class="products">
                {% for i in cat %}   
                <a href="{% url 'detailspage' %}?id={{i.id}}">
                    <div>
                    
                        <img src="/media/{{i.img}}">
                        <h3>{{i.brandname}}</h3>
                        <p>{{i.productname}}</p>
                        <h3>₹{{i.discprice}}</h3>
                        <button type="submit">Buy Now</button>
                                         
                    </div>
                </a>
                {% endfor %} 
                    
                    

                </div>

        
        </center>


    </div>
</body>

</html>